---
import Angular from "../assets/angular-original.svg";
import HTML5 from "../assets/html5-original.svg";
import CSS3 from "../assets/css3-original.svg";
import Sass from "../assets/sass-original.svg";
import JS from "../assets/javascript-original.svg";
import TS from "../assets/typescript-original.svg";
import Node from "../assets/nodejs-original-wordmark.svg";
import Bun from "../assets/bun-original.svg";
import Express from "../assets/express-original.svg";
import PostGresql from "../assets/postgresql-original.svg";
import Sqlite from "../assets/sqlite-original.svg";
import Wordpress from "../assets/wordpress-plain.svg";
import Git from "../assets/git-original.svg";
import Github from "../assets/github-original.svg";
import Bitbucket from "../assets/bitbucket-original.svg";
import Figma from "../assets/figma-original.svg";
import Kotlin from "../assets/kotlin-original.svg";
import Storybook from "../assets/storybook-original.svg";
import AstroIcon from "../assets/astro-original.svg";
import Rust from "../assets/rust-original.svg";
import SolidJS from "../assets/solidjs-original.svg";
---

<ul class="tech-stack box">
  <li class="tech-stack__item">
    <img width="24" height="24" src={Angular.src} alt="Angular icon" />
    Angular
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={HTML5.src} alt="HTML5 icon" />
    HTML5
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={CSS3.src} alt="css3 icon" />
    CSS3
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={JS.src} alt="javascript icon" />
    Javascript
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Sass.src} alt="sass icon" />
    Sass
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={TS.src} alt="Typescript icon" />
    Typescript
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Node.src} alt="node icon" />
    NodeJS
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Bun.src} alt="Bun icon" />
    Bun
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Express.src} alt="Express icon" />
    Express
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={PostGresql.src} alt="PostGresql icon" />
    PostgreSQL
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Sqlite.src} alt="Sqlite icon" />
    SQLite
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Wordpress.src} alt="Wordpress icon" />
    Wordpress
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Git.src} alt="Git icon" />
    Git
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Github.src} alt="Github icon" />
    Github
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Bitbucket.src} alt="Bitbucket icon" />
    Bitbucket
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Figma.src} alt="Figma icon" />
    Figma
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Kotlin.src} alt="Kotlin icon" />
    Kotlin
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Storybook.src} alt="Storybook icon" />
    Storybook
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={AstroIcon.src} alt="Astro icon" />
    Astro
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={Rust.src} alt="Rust icon" />
    Rust
  </li>
  <li class="tech-stack__item">
    <img width="24" height="24" src={SolidJS.src} alt="SolidJS icon" />
    SolidJS
  </li>
</ul>

<style>
  .tech-stack {
    margin-top: 32px;
  }
</style>
